
@media screen and (min-width: 768px) {

    body{
        width: 100%;
    }

    .artigo1{
        margin-top:  25px;
        margin-left: 30px;
        display: flex;
        height: 220px;
        align-items: center;
        width: 400px;
    }

    .container{
        display: flex;
        flex-direction: row ;
    }

    #imagem1 {
       margin-right: 10px;
       margin-bottom: 30px;
       width: 300px;
       height: 300px;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

    }
    .artigo2, .artigo3, .artigo4,.artigo5 {
        width: 500px;
        margin: 20px 0px;
        display: flex;
        flex-flow: column nowrap;
    }

    .artigo6{
        width: 700px;
        margin: 15px auto;

    }


}

